<html>
    <head>
        {{>header}}
    </head>
    <body>
    <!-- Jumbotron -->
  <div class="p-5 text-center bg-light">
    <h1 class="mb-3">About us</h1>
    <h4 class="mb-3">This is a placeholder page</h4>
  </div>
  <!-- Jumbotron -->

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce metus magna, vehicula id dui ac, pulvinar pulvinar metus. Donec ultricies placerat tellus, in ultricies orci hendrerit nec. Proin sit amet purus eleifend, suscipit orci eu, iaculis dolor. Sed dictum felis in nulla pulvinar, ac ornare ipsum consectetur. Cras porttitor ipsum id ipsum pulvinar tempor. Donec semper leo vitae nunc malesuada varius. Nunc nulla eros, ornare in sollicitudin quis, mollis at ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce euismod ipsum purus, ut imperdiet dui consectetur bibendum. Vivamus a sodales enim. Donec ut urna magna. Aliquam at condimentum eros. Morbi sagittis lobortis elementum. Etiam sit amet cursus elit.<br><br>

Sed vel felis eget tortor finibus congue pulvinar vitae dui. Aenean vitae pulvinar mi. Vestibulum accumsan nulla eget urna maximus ultrices tempor a dui. Curabitur pulvinar vulputate sollicitudin. Mauris venenatis, metus at ornare ultricies, augue orci maximus est, mattis ullamcorper metus magna sed lorem. Maecenas rhoncus nec felis non rhoncus. Cras ullamcorper fermentum diam, vel sodales tortor efficitur a. Integer lobortis consequat ex, a consequat leo sollicitudin at. Morbi vitae leo aliquam quam facilisis auctor id ac magna. Quisque ut metus eleifend, suscipit eros a, semper orci. Fusce ullamcorper sit amet risus ut efficitur. Vivamus laoreet sem vitae lectus tincidunt tincidunt. Nulla porta nunc sed diam aliquet feugiat.<br><br>

Duis tempor leo ac felis commodo, aliquet condimentum leo hendrerit. Nunc metus nisi, auctor et posuere vitae, lobortis nec dolor. Mauris vulputate sagittis ligula, non pellentesque odio bibendum quis. Integer vel augue in eros porttitor interdum ac quis mauris. Sed commodo turpis a ipsum blandit, ut mollis nibh ultrices. Nullam consequat enim ac arcu volutpat, quis scelerisque lectus tristique. Sed in ex tincidunt, elementum risus et, scelerisque leo. Fusce et mauris magna. Nam consequat justo ac nunc viverra auctor. Mauris semper felis ut imperdiet bibendum. Fusce ullamcorper vulputate posuere. Sed iaculis at diam rhoncus sagittis. Ut sit amet nisl eu orci faucibus venenatis. Aenean ac eleifend elit.
</p>
    </body>
    <footer>
    {{>footer}}
    </footer>
</html>