<!DOCTYPE html>
<html>
    <body>
     <div class="wrapper">

        {{#user}}
            {{>sidebar}}
        {{/user}}
        <!-- Page Content  -->
        <div id="content" style="width 100%" class="{{admin}}">
            {{>header}}

        <div class="Hero">
            <div class="heroText">
                <h1>{{title}}</h1>
            </div>
        </div>
            <div class = "bodyContent" id="menus">

<div id="editMenus" class="adminTable">

<div class ="tableHeader">
<h1>Edit Menus</h1>
    <div class="text-center py-3">
        <a id="login" href="/newMenu" class="btn btn-primary">Add Menu</a>
    </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Menu Name</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#entries}}
                <tr>
                    <td scope="row">{{menuName}}</td>
                    <td><a href="/editMenu/{{menuName}}">edit</a></td>
                    <td><a href="/deleteMenu/{{menuName}}">delete</a></td>
                </tr>
            {{/entries}}
        </tbody>
    </table>
</div>

<div id="editCats" class="adminTable">


<div class ="tableHeader">
<h1>Edit Categories</h1>
    <div class="text-center py-3">
        <a id="login" href="/newCat" class="btn btn-primary">Add Category</a>
    </div>
</div>
        <table class="table table-striped">
  <thead>
    <tr>
        <th scope="col">Category Name</th>
        <th scope="col">Menu Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {{#entries}}
        {{#category}}
    <tr>
        <td scope="row">{{catName}}</td>
        <td>{{menuName}}</td>
        <td><a href="/editCat/{{menuName}}/{{catName}}">edit</a></td>
        <td><a href="/deleteCat/{{menuName}}/{{catName}}">delete</a></td>
    </tr>
          {{/category}}
    {{/entries}}
  </tbody>
</table>
</div>

<div id="editDishes" class="adminTable">
<div class ="tableHeader">
<h1>Edit Dishes</h1>
    <div class="text-center py-3">
        <a id="login" href="/newDish" class="btn btn-primary">Add Dish</a>
    </div>
    </div>
        <table class="table table-striped">
  <thead>
    <tr>
        <th scope="col">Dish Name</th>
        <th scope="col" class="hideNav">Menu Name</th>
        <th scope="col" class="hideNav">Category Name</th>
        <th scope="col" class="hideNav">Available</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {{#entries}}
  {{#category}}
  {{#dishes}}
    <tr>
        <td scope="row">{{name}}</td>
        <td class="hideNav">{{menuName}}</td>
        <td class="hideNav">{{catName}}</td>
        <td class="hideNav">{{available}}</td>
        <td><a href="/editDish/{{name}}">edit</a></td>
        <td><a href="/deleteDish/{{name}}">delete</a></td>
    </tr>
    {{/dishes}}
    {{/category}}
    {{/entries}}
  </tbody>
</table>
</div>

<div id="editStaff" class="adminTable">
<div class ="tableHeader">
<h1>Edit Staff</h1>
    <div class="text-center py-3">
        <a id="login" href="/newDish" class="btn btn-primary">Register Staff</a>
    </div>
    </div>
        <table class="table table-striped">
  <thead>
    <tr>
        <th scope="col">Staff Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td scope="row">{{name}}</td>
        <td><a href="/editDish/{{name}}">edit</a></td>
        <td><a href="/deleteDish/{{name}}">delete</a></td>
    </tr>
  </tbody>
</table>
</div>
        {{^entries}}
            No entries yet.
        {{/entries}}
        </div>
    </body>
    <footer>
        {{>footer}}
    </footer>
        </div>
    
    <script src="/js/admin.js"></script>


</html>