<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
     <div class="wrapper">

        {{#user}}
            {{>sidebar}}
        {{/user}}
        <!-- Page Content  -->
        <div id="content" style="width 100%">
            
            {{>header}}
            <div class="HeroImage">
                <div class="heroText">
                    <h1>{{title}}</h1>
                    <h4>CW2 Resaurant webapp.</h4>
                    <a id="login" href="#menus" class="btn btn-primary">Menus</a>
                </div>
            </div>
            <div class = "bodyContent" id="menus">
                <h1>Our menu's</h1>
    
                <div class = "menuContainer">
                    {{#entries}}
                        {{^user}}

                            <div class="menuCard">
                                <a href="/menu/{{menuName}}" class="fillCard">
                                    <h1>{{menuName}}</h1>
                                </a>
                            </div>
                        {{/user}}
                        {{#user}}

                            <div class="menuCard">
                                <a href="/menu/admin/{{menuName}}" class="fillCard">
                                    <h1>{{menuName}}</h1>
                                </a>
                            </div>
                        {{/user}}
                    {{/entries}}
                    {{^entries}}
                        No menus yet.
                    {{/entries}}
                </div>
                <br>

                <h1>About us</h1>
                <div class="aboutUs">
                    <p>
                        We are a local restaurant located on 420 Drury Lane across the road from the muffin man. We are a family run business amd our menu changes every week so that you dont know what to expect when you walk in here because we dont either.
                        <br><br>
                        We have won multiple awards for our food including best restaurant in far far away, the royal seal of aproval and a nobel peace prize. Come and enjoy the lovely scenery of far far away from our viewing balcony on the 9th floor overlooking the "local" famous swamp with a telescope. We have the best chefs there has to offer including the likes of Pinochio and 3 blind mice. The company is a subsidiary of the DannyDeCheetoCorp as of 1984.
                    </p>
                </div>
            </div>
    </body>
    <footer>
        {{>footer}}
    </footer>
        </div>
    
</html>