<html>
    <head>
        {{>header}}
    </head>
    <body>
    <!-- Jumbotron -->
    <div class="p-5 text-center bg-light">
        <h1 class="mb-3">{{title}}</h1>
        <h4 class="mb-3">CW2 Resaurant webapp.</h4>
    </div>
    <!-- Jumbotron -->
    <div class="container">
        {{#entries}}
        {{^user}}
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h4>Menu: <a href="/menu/{{menuName}}">{{menuName}}</a></h4>
                </div>
            </div>
        </div>
        {{/user}}
        {{#user}}
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h4>Menu: <a href="/menu/admin/{{menuName}}">{{menuName}}</a></h4>
                </div>
            </div>
        </div>
        {{/user}}
        {{/entries}}
        {{^entries}}
            No entries yet.
        {{/entries}}
    </div>
    </body>
    <footer>
        {{>footer}}
    </footer>
</html>