<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
     <div class="wrapper">

        {{#user}}
            {{>sidebar}}
        {{/user}}
        <!-- Page Content  -->
        <div id="content" style="width 100%">
            
            {{>header}}
            <div class="Hero">
                <div class="heroText">
                    <h1>{{title}} Menu</h1>
                </div>
            </div>
            <div class = "bodyContent" id="menus">
                {{#menus}}
                    {{#category}}
                        <h2>{{catName}}</h2>
                            {{#dishes}}
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h4>{{name}}</h4>
                                        </div>
                                        <p class="card-text">
                                            Price: £{{price}} <br>
                                        </p>
                                        <div class="card-footer">
                                            {{#dishAllergies}}
                                                <p>May contain: {{allergies}}</p>
                                            {{/dishAllergies}}
                                            {{^dishAllergies}}
                                                <p>This dish contains no alergies</p>
                                            {{/dishAllergies}}
                                            <p>is this dish gluten free: {{glutenFree}}</p>
                                            <p>Is this dish available: {{available}}</p>
                                        </div> 
                                    </div>
                                </div>
                            <br>
                            {{/dishes}}
                        {{/category}}
                    {{/menus}}
                    {{^menus}}
                        No entries yet.
                    {{/menus}}
                </body>
                <footer>
                    {{>footer}}
                </footer>
            </div>
</html>