<html>
    <body>
     <div class="wrapper">

        {{#user}}
        {{>sidebar}}
        {{/user}}

        <!-- Page Content  -->
        <div id="content" class ="active">
            {{>header}}
    <!-- Jumbotron -->
    <div class="p-5 text-center bg-light">
        <h1 class="mb-3">{{title}}</h1>
        <h4 class="mb-3">CW2 Resaurant webapp.</h4>
    </div>
    <!-- Jumbotron -->
        {{#menus}}
        <h1>{{menuName}}</h1>
        {{#category}}
        <h2>{{catName}}</h2>
        {{#dishes}}
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h4>{{name}}</h4>
                </div>
                <p class="card-text">
                    Price: £{{price}} <br>
                </p>
                <div class="card-footer">
                {{#dishAllergies}}
                    <p>May contain: {{allergies}}</p>
                {{/dishAllergies}}
                {{^dishAllergies}}
                    <p>This dish contains no alergies</p>
                {{/dishAllergies}}
                    <p>is this dish gluten free: {{glutenFree}}</p>
                    <p>Is this dish available: {{available}}</p>
                </div> 
            </div>
        </div>
                <br>
        {{/dishes}}
        {{/category}}
        {{/menus}}
        {{^menus}}
            No entries yet.
        {{/menus}}
    </body>
        <footer>
        {{>footer}}
    </footer>
    </div>
</html>