<html>
    <head>
        {{>header}}
    </head>
    <body>
    <div class="container">
        <h2>Create a new menu</h2>
        <form method="post" role="form">
            <div class="form-group">
                <label for="newMenuName">New menu name</label>
                <input type="text" class="form-control" id="newMenuName" name="newMenuName" placeholder="New menu name" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Post menu" class="btn btn-primary">
            </div>
        </form>
        </div>
    </body>
    <footer>
    {{>footer}}
    </footer>
</html>