<style>

</style>


        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Admin Panel</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Admin controls</p>
                <li>
                    <a href="#menuSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Menu's</a>
                    <ul class="collapse list-unstyled" id="menuSubmenu">
                        <li>
                            <a href="/newMenu">Add</a>
                        </li>
                        <li>
                            <a href="#">Edit</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#catSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Categories</a>
                    <ul class="collapse list-unstyled" id="catSubmenu">
                        <li>
                            <a href="/newCat">Add</a>
                        </li>
                        <li>
                            <a href="#">Edit</a>
                        </li>
                    </ul>
                </li>
                                <li>
                    <a href="#dishSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dish's</a>
                    <ul class="collapse list-unstyled" id="dishSubmenu">
                        <li>
                            <a href="/newDish">Add</a>
                        </li>
                        <li>
                            <a href="#">Edit</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#staffSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Staff</a>
                    <ul class="collapse list-unstyled" id="staffSubmenu">
                        <li>
                            <a href="#">Register</a>
                        </li>
                        <li>
                            <a href="#">Delete</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Site settings</a>
                </li>
                <li>
                    <a id="logout" href="/logout" class="btn btn-primary">Sign out</a>
                </li>
            </ul>
        </nav>