<html>
    <body>
     <div class="wrapper">

        {{#user}}
            {{>sidebar}}
        {{/user}}
        <!-- Page Content  -->
        <div id="content" style="width 100%" class="{{admin}}">
            {{>header}}

        <div class="Hero">
            <div class="heroText">
                <h1>{{title}}</h1>
            </div>
        </div>
            <div class = "bodyContent" id="menus" style="text-align: center">
        <h2>Edit a staff member password</h2>
        {{#staff}}
                                           <div class="login">
            <div class="AdminForm">
        <form method="post" role="form">
            <div class="form-outline mb-4">
            <div class="form-group">
                <label for="newMenuName" id="oldMenuName" name="staffUserName">Username</label>
                <input type="text" class="form-control" name="staffUserName" value="{{user}}" readonly="readonly">
            </div>
            </div>

            <div class="form-outline mb-4">
            <div class="form-group">
                <label for="newMenuName">New user password</label>
                <input type="password" class="form-control" id="newUserPassword" name="newUserPassword" minlength="8" required autocomplete="off">
            </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Edit user" class="btn btn-primary">
            </div>
        </form>
        </div>
        </div>
        {{/staff}}
        {{^staff}}
            <p>No staff selected</p>
        {{/staff}}
    </body>
        </div>
            <footer>
        {{>footer}}
    </footer>
       <script src="/js/admin.js"></script>
</html>