<html>
    <body>
     <div class="wrapper">

        {{#user}}
            {{>sidebar}}
        {{/user}}
        <!-- Page Content  -->
        <div id="content" style="width 100%">
            {{>header}}

        <div class="Hero">
            <div class="heroText">
                <h1>{{title}}</h1>
                <h4>Resaurant Login Page.</h4>
            </div>
        </div>
            <div class = "bodyContent" id="menus" style="min-height: 25vh;">
            <div class="login">
        <h2>Log In</h2>
        <div id="formContent">
            <div class="AdminForm">
            <form method="POST" action="/login">
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="text" id="username" name="username"placeholder="username" class="form-control" required/>
    <label class="form-label" for="form2Example1">Username</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="password" name="password"placeholder="password" required class="form-control" />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <!-- Submit button -->
  <input type="submit" value="Log In" class="btn btn-primary">
</form>
</div>
    </body>
    <footer>
    </footer>
        </div>
</html>