<html>
<body>
    <div class="wrapper">

        {{>sidebar}}

        <!-- Page Content  -->
        <div id="content" class ="active">
            {{>header}}
        <h2>Create a new menu</h2>
        <form method="post" role="form">
            <div class="form-group">
                <label for="newMenuName">New menu name</label>
                <input type="text" class="form-control" id="newMenuName" name="newMenuName" placeholder="New menu name" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Add menu" class="btn btn-primary">
            </div>
        </form>
    </body>
    <footer>
        {{>footer}}
    </footer>
        </div>
    
</html>