<html>
    <body>
     <div class="wrapper">

        {{#user}}
            {{>sidebar}}
        {{/user}}
        <!-- Page Content  -->
        <div id="content" style="width 100%" class="{{admin}}">
            {{>header}}

        <div class="Hero">
            <div class="heroText">
                <h1>{{title}}</h1>
            </div>
        </div>
            <div class = "bodyContent" id="menus" style="text-align: center">
        <h2>Create a new menu</h2>
        <div class="login">
            <div class="AdminForm">
            <form method="post" role="form">
 
  <!-- Menu input -->
  <div class="form-outline mb-4">
    <label class="form-label">New menu name</label>
    <input type="text" class="form-control" id="newMenuName" name="newMenuName" placeholder="New menu name" required>
  </div>

  <!-- Submit button -->
  <input type="submit" value="Create menu" class="btn btn-primary">
</form>
    </body>
        </div>
        </div>
        </div>
            <footer>
        {{>footer}}
    </footer>
       <script src="/js/admin.js"></script>
</html>