<html>
    <body>
     <div class="wrapper">

        {{#user}}
            {{>sidebar}}
        {{/user}}
        <!-- Page Content  -->
        <div id="content" style="width 100%" class="{{admin}}">
            {{>header}}

        <div class="Hero">
            <div class="heroText">
                <h1>{{title}}</h1>
            </div>
        </div>
            <div class = "bodyContent" id="menus">
        <h2>Delete a dish</h2>
        {{#entries}}
        <form method="post" role="form">
            <div class="form-group">
                <label for="CatMenu">Menu name</label>
                <input type="text" id="CatMenu" class="form-control" value="{{menuName}}" name="selectMenuName" readonly="readonly">
            </div>
            {{#category}}
                <div id="{{catName}}Div" style="display: none">
                    <label for="oldCatName">Catagory name</label>
                    <input type="text" class="form-control {{catName}}" id="{{catName}}Text" value="{{catName}}" name="dishCategory" readonly="readonly" disabled>
                    <input type="hidden" name="catIndex" id="{{catName}}" class ="categorys" disabled>


                {{#dishes}}
                    <div id="{{name}}Div" style="display: none">
                        <label for="dishIndex">Dish name</label>
                        <input type="text" class="form-control {{name}}" name="dishName" value="{{name}}" disabled readonly="readonly">
                        <input type="hidden" name="dishIndex" id="{{name}}Hidden" class ="dishes" disabled readonly="readonly">

                        <label for="dishIndex">Dish price</label>
                        <input type="text" class="form-control {{name}}" name="dishPrice" value="{{price}}" disabled readonly="readonly">

                        <label for="dishIndex">Dish description</label>
                        <textarea class="form-control {{name}}" name="dishDescription" style="resize: none"disabled readonly="readonly">{{description}}</textarea>
                        
                        <input type="hidden" id="{{name}}DishVegetarian" value="{{vegetarian}}">
                        <div id="vegetarian">
                        <label for="dishIndex">Is the dish vegetarian?</label><br>
                        <input type="radio" class="{{name}}" id="{{catName}}{{name}}vegetariantrue" name="vegetarian" value="true" required disabled>
                        <label for="true">Yes</label>
                        <input type="radio" class="{{name}}"id="{{catName}}{{name}}vegetarianfalse" name="vegetarian" value="false" disabled>
                        <label for="false">No</label><br>
                        </div>

                        <input type="hidden" id="{{name}}DishGluten" value="{{glutenFree}}">
                        <div id="gluten">
                        <label for="dishIndex">Is the dish gluten free?</label><br>
                        <input type="radio" class="{{name}}" id="{{catName}}{{name}}glutentrue" name="glutenFree" value="true" required disabled>
                        <label for="true">Yes</label>
                        <input type="radio" class="{{name}}"id="{{catName}}{{name}}glutenfalse" name="glutenFree" value="false" disabled>
                        <label for="false">No</label><br>
                        </div>


                        <input type="hidden" id="{{name}}DishAvailable" value="{{available}}">
                        <div id="available">
                        <label>Is the dish available?</label><br>
                        <input type="radio" class="{{name}}" id="{{catName}}{{name}}availabletrue" name="available" value="true" required disabled>
                        <label for="true">Yes</label>
                        <input type="radio" class="{{name}}"id="{{catName}}{{name}}availablefalse" name="available" value="false" disabled>
                        <label for="false">No</label>
                        </div>

                    </div>
                {{/dishes}}
                </div>
            {{/category}}
        {{/entries}}

            <div class="form-group">
                <input type="submit" value="Delete dish" class="btn btn-primary">
            </div>
        </form>
    </body>
    <footer>
        {{>footer}}
    </footer>
        </div>
       <script src="/js/admin.js"></script>
       <script>
        var category = "{{dishCatName}}"
        var dish = "{{selectDish}}"

        $(':radio,:checkbox').click(function(){
            return false;
        });

        document.getElementById(category).disabled = false;

        document.getElementById(category+"Text").disabled = false;

        var choices = document.getElementById(category+"Div");
            choices.style.display="";
            

        var list = document.getElementsByClassName("categorys");
            for (var i = 0; i < list.length; i++) {
                list[i].value = (i);
            };

       </script>

        <script>
            var category = "{{dishCatName}}"
            var dish = "{{selectDish}}"
    
            var divs = document.getElementById(dish+"Div");
                divs.style.display=""

            var div = document.getElementsByClassName(dish)

            var list = document.getElementById(category+"Div").getElementsByClassName("dishes");
                for (var i = 0; i < list.length; i++) {
                    list[i].value = (i);
                };
            
            vegetarianStatus = document.getElementById(dish+"DishVegetarian").value;

            document.getElementById(category+dish+"vegetarian"+vegetarianStatus).checked=true;

            availableStatus = document.getElementById(dish+"DishAvailable").value;

            document.getElementById(category+dish+"available"+availableStatus).checked=true;

            glutenStatus = document.getElementById(dish+"DishGluten").value;

            document.getElementById(category+dish+"gluten"+glutenStatus).checked=true;

            document.getElementById(dish+"Hidden").disabled = false;

            var list = document.getElementById(category+"Div").getElementsByClassName(dish);
                for (var i = 0; i < list.length; i++) {
                    list[i].disabled = false;
                };
        </script>
</html>